<p id="notice"><%= notice %></p>

<% provide(:title,"Eventkategorien") %>

<table class="table">

  <tbody>
    <% @event_categories.each do |event_category| %>
      <tr>
        <td><%= event_category.name %></td>

        <td><%= button_to_default 'Bearbeiten', edit_event_category_path(event_category) %></td>
        <td><% if event_category.events.count > 0 %>
          <p>Dieser Eventtyp kann erst gelöscht werden, wenn alle Events mit diesem Typ gelöscht worden sind</p>
      <% else %>
          <%= button_to_delete('Löschen', event_category,true) %></td>
     <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to_default 'Neue Eventkategorie', new_event_category_path %>
<br>
<%= select("category", "category_id", EventCategory.all.collect {|p| [ p.name, p.id ] },{:class => 'form_control', includes_blank: 'None'}) %>
<div id="calendar_filter">

</div>