<%= bootstrap_form_for (@newsletter) do |f| %>

    <div class="form-inputs">
      <%= f.text_field :subject, :class => 'form-control', :label => 'Betreff' %>
    </div>

    <div class="form-inputs">
      <%= f.text_field :description, :class => 'form-control', :label => 'Text' %>
    </div>

    <div class="form-inputs">
      <%= f.datetime_select :from, :label => 'Zeitraum ab' %>
    </div>

    <div class="form-inputs">
      <%= f.datetime_select :to, :label => 'Zeitraum ab'  %>
    </div>

    <div class="form-actions">
      <%= f.submit "Newsletter abschicken" %>
    </div>

<% end %>
