<% provide(:subject, newsletter.subject) %>
<%= bootstrap_form_for(newsletter) do |f| %>

    <% if current_user.present? && current_user.isManager %>
    <div class="form-group">
      <%= f.submit "Genehmigen" %> <%= f.submit "Ablehnen", class: "btn btn-success", class: "btn btn-danger" %>
    </div>
    <%end%>
    <% if newsletter.unmanager_id!=nil %>
    <p>Dieses Event wurde von <%= User.find(newsletter.unmanager_id).username %> inhaltlich für unbenklich befunden.</p>
    <% end %>
    <% if current_user.present? && current_user.isAdmin && newsletter.unmanager_id!=nil %>
    <div class="form-group">
      <%= f.submit "Veröffentlichen" %>
    </div>
    <%end%>
<% end %>

