<p id="notice"><%= notice %></p>

<h1>Übersicht Newsletter</h1>

<% if current_user.present? && (current_user.isAdmin || current_user.isManager) %>

<table>
  <thead>
    <tr>
      <th>Betreff</th>
      <th>.................................</th>
      <th>Anfangszeitpunkt</th>
      <th>Endzeitpunkt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.subject %></td>
        <td></td>
        <td><%= newsletter.from %></td>
        <td><%= newsletter.to %></td>
        <td><%= link_to 'Show', newsletter %></td>
        <td><%= link_to 'Edit', edit_newsletter_path(newsletter) %></td>
        <td><%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <% end %>

<%= link_to 'New Newsletter', new_newsletter_path %>
