<p id="notice"><%= notice %></p>

<h1>Newsletter anzeigen</h1>

<table>
  <thead>
    <tr>
      <th>Betreff</th>
      <th>Beschreibung</th>
      <th>Von</th>
      <th>Zu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.subject %></td>
        <td><%= newsletter.description %></td>
        <td><%= newsletter.from %></td>
        <td><%= newsletter.to %></td>
        <td><%= link_to 'Anzeigen', newsletter %></td>
        <td><%= link_to 'Bearbeiten', edit_newsletter_path(newsletter) %></td>
        <td><%= link_to 'Löschen', newsletter, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Newsletter', new_newsletter_path %>
