<p>
  <strong>Betreff:</strong>
  <%= @newsletter.subject %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @newsletter.description %>
</p>

<p>
  <strong>Von:</strong>
  <%= @newsletter.from %>
</p>

<p>
  <strong>Zu:</strong>
  <%= @newsletter.to %>
</p>
<%= button_to_default 'Zurück', newsletters_path %>
