<p id="notice"><%= notice %></p>

<p>
  <strong>Betreff:</strong>
  <%= @newsletter.subject %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @newsletter.description %>
</p>

<p>
  <strong>Von:</strong>
  <%= @newsletter.from %>
</p>

<p>
  <strong>Zu:</strong>
  <%= @newsletter.to %>
</p>

<%= link_to 'Bearbeiten', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Zurück', newsletters_path %>
