<%= simple_form_for(@recurrence) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :event_id %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.input :pattern %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
