<p id="notice"><%= notice %></p>

<h1>Listing Recurrences</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Start</th>
      <th>End</th>
      <th>Pattern</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurrences.each do |recurrence| %>
      <tr>
        <td><%= recurrence.start %></td>
        <td><%= recurrence.end %></td>
        <td><%= recurrence.pattern %></td>
        <td><%= link_to 'Show', recurrence %></td>
        <td><%= link_to 'Edit', edit_recurrence_path(recurrence) %></td>
        <td><%= link_to 'Destroy', recurrence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recurrence', new_recurrence_path %>
