<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= form_for(user) do |f| %>
      <%= f.select(:role, User.roles.keys.map {|role| [role.upcase,role]}) %>
      <%= f.submit 'Rolle wechseln', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= button_to_delete("Löschen", user_path(user),true)  %><%##unless user == current_user -%>
</td>

