<td>
 <h5> <%= user.email%></h5>
</td>
<td>
  <h5><%= user.username %></h5>
</td>
<td>
  <%= simple_form_for(user) do |f| %>
      <span class="ui-select">

      <%=  f.input :role_ids,:label => "Rolle:", :collection => Role.POSSIBLE_ROLES,  selected:user.current_role %>

      </span>
        <%= f.submit 'Rolle wechseln', :class => 'btn btn-w-md btn-gap-v btn-default' %>
  <% end %>
</td>
<td>
  <%= button_to_delete("Löschen", user_path(user),true)  %><%##unless user == current_user -%>
</td>

