<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @event.priority %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @event.flag %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @event.imageURL %>
</p>

<p>
  <strong>Externallink:</strong>
  <%= @event.externalLink %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @event.revision %>
</p>

<p>
  <strong>Typeofdate:</strong>
  <%= @event.typeOfDate %>
</p>

<p>
  <strong>Editingdeadline:</strong>
  <%= @event.editingDeadline %>
</p>

<p>
  <strong>Usergroup:</strong>
  <%= @event.userGroup %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
