<% provide(:title, @event.title) %>
<% if @event.imageURL.present? %>
    <img src="<%= @event.imageURL %>" class="img-responsive">
<% end %>
<p>
  <strong>Startzeit:</strong>
  <%= pretty_datetime @event.start %>
</p>
<p>
  <strong>Endzeit:</strong>
  <%= pretty_datetime @event.end %>
</p>



<p>
  <strong>Priorität:</strong>
  <%= @event.priority %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @event.description %>
</p>







<p>
  <strong>Ort:</strong>
  <%= @event.ort %>
</p>

<p>

  <% if @event.url.present? %>
      <% link_to "Mehr Informationen", @event.url %>
  <% end %>
</p>

<p>

  <% if @event.flag %>
      Du kannst über den Newsletter über dieses Event informiert werden.
  <% else %>
      <strong>Achtung:</strong> Dieses Event steht nicht im Newsletter.
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
