<p id="notice"><%= notice %></p>

<h1>Listing Event Typs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_typs.each do |event_typ| %>
      <tr>
        <td><%= event_typ.name %></td>
        <td><%= link_to 'Show', event_typ %></td>
        <td><%= link_to 'Edit', edit_event_typ_path(event_typ) %></td>
        <td><%= link_to 'Destroy', event_typ, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event typ', new_event_typ_path %>
