<% if current_user.present? && current_user.isAdmin %>

<h3>Übersicht Abonnenten</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.email %></td>
        <td><%= link_to 'Anzeigen', subscriber %></td>
        <td><%= link_to 'Bearbeiten', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Löschen', subscriber, method: :delete, data: { confirm: 'Bist du sicher' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
    <% end %>

<%= button_to_default 'Abonnent werden', new_subscriber_path %>

