<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<%= link_to 'Bearbeiten', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Zurück', subscribers_path %>
