<td>
  <h5>
   <%= #user.email %>
  </h5>
</td>
<td>
  <%= #form_for(user) do |f| %>
      <span class="ui-select">
      <%= #f.select(:role, User.roles.keys.map {|role| [role.upcase,role]}) %>
      </span>
      <%= #f.submit 'Rolle wechseln', :class => 'btn btn-w-md btn-gap-v btn-default' %>
  <% #end %>
</td>
<td>
  <%= #button_to_delete("Löschen", user_path(user),true)  %><%= ##unless user == current_user -%>
</td>
